/* Base */
body {
  background: #000; }

a {
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

.site-wrap:before {
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.7);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}



/* Blocks */
.header-bar {
  float: right;
  width: 250px;
  height: 12vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  text-align: right;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 888;
  width: 100%;
  float: none;}
    .header-bar .site-logo a {
      font-size: 30px;
      font-family: fantasy;
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      display: flex;
     }
     .header-bar .site-logo img {

       width: 70px;
       height: 50px;
       overflow: hidden;
       z-index: 999;
       margin-left: 5px;
       margin-top: 0;
      }
      .header-bar .site-logo p {

        position:absolute;
        overflow: hidden;
        z-index: 999;
        margin-left: 88px;
        margin-top: 10px;
        display: block;
       }


/*swiper*/


.swiper-container{
  margin:0 auto;
  width: 100%;
  position:relative;
  overflow:hidden;
  list-style:none;
  padding:0;
  z-index:1
  touch-action: pan-y;
}

.swiper-container-vertical>.swiper-wrapper{
  flex-direction:column
}
.swiper-wrapper{
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  display:flex;
  transition-property:transform;
  box-sizing:content-box
  align-items:flex-start;
  transition-property:transform,height;
  touch-action:pan-x
}
.swiper-slide,.swiper-wrapper{
  transform:translate3d(0,0,0)
}

.swiper-slide{
  flex-shrink:0;
  width:100%;
  height:100%;
  position:relative;
  transition-property:transform;
  float:left;

  background-position: top center;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
  width: 100%
  position: relative;
  background-size: cover;
  }

.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;background-size:27px 44px;background-position:center;background-repeat:no-repeat}
.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left:10px;
  right:auto}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}


.gallery-top {
  height: 80%;
  width: 100%; }

.gallery-thumbs {
  height: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0; }

.gallery-thumbs .swiper-slide {
  height: 80px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0.4;
  cursor: pointer;
  position: relative; }

.gallery-thumbs .swiper-slide:before {
  content: "";
  border: 4px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden; }

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev, .swiper-container:focus .swiper-button-next,
.swiper-container:focus .swiper-button-prev {
  opacity: 1;
  visibility: visible; }

  .zoom {
    position: absolute;
    width: 80px;
    height: 50px;
    margin: 8px 6px;
    background: rgba(0,0,0,0.8);
    color: #b3b3b3;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 8px;
}
    .zoom span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .zoom:hover {
      color: #b3b3b3; }



    * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-color: #202125;
}

.heading {
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: white;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-image: url("../images/bg.jpg");

}
.gallery-image .inner {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  margin: 0;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  text-align: left;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}


/* photo */

.button {
  border-radius: 4px;
  background-color: #000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 0 5px 0;
  opacity: 0.6;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
