#poster {
    /* display: flex; */
    /* justify-content: flex-start; */
    width: 100%;
    height: auto;
    /* height: auto; */
    /* flex-wrap: wrap; */
}

#arrangement_table {
    width: 65%;
    height: auto;
    margin-top: 1.55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background-color: #CEDDDF;
}

#bg {
    background-color: #CEDDDF;
}
